head{
  font-family: "Sans",monospace; 
}


.Pantalla {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

body {
  text-align: center;
  background-color: #f5f5f5;
}

.fila h2 {
  font-size: 20px; 
  color: #16047e;  
  font-weight: bold;
}

.row {
  margin-bottom: 15px;
  justify-content: center;
}

.col {
  border: 1px solid #aaa;
  padding: 10px;
  background-color: #e9ecef;
  margin: 3px;
  border-radius: 4px;
  text-align: center;
   width: 20px;
  cursor: pointer;
}

.col.ocupada {
  background-color: #7d470d; /* cafe para butacas ocupadas */
  border: 2px solid #000;
  color: white;
  cursor: not-allowed;
}

.Pie {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
