* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background-color: #1a1a1a;
  color: #e0e0e0; 
  padding: 25px;
}

.container {
    max-width: 800px;
}

.text-center h1 {
    color: #f7d353 !important; 
    font-weight: 700;
}

.movie_info h2 {
    color: #fff;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

/* Encabezado */
.header_seats ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    font-size: 0.9em;
}

.header_seats li {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Estilo para los puntos header*/
.header_seats .seat {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #444; 
}

.header_seats .available {
    background-color: #555555; 
}

.header_seats .selected {
    background-color: #f7d353; 
}

.header_seats .occupied {
    background-color: #880000; 
}

/* Asientos */
.seats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Estilo para la "Pantalla" curva */
.seats_screen {
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 30px;
    width: 70%;
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    border: 1px solid #555;
    background: linear-gradient(90deg, #333, #555, #333);
}

/* Tabla de Asientos */
.seats_table {
    border-collapse: separate;
    border-spacing: 10px 8px; 
}
.seats_table_vip {
    border-collapse: separate;
    border-spacing: 10px 8px; 
    margin-top: 10px;
}

/* Estilo general de los asientos */
.seat {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    transition: all 0.2s;
    border: 1px solid #555; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.seat.available {
    background-color: #333333;
    color: #e0e0e0;
}

.seat.available:hover {
    background-color: #f7d353; 
    color:#1a1a1a;
}

.seat.selected {
    background-color: #f7d353;
    color: #1a1a1a; 
    border-color: #ff9900;
    box-shadow: 0 0 10px rgba(247, 211, 83, 0.8);
}

.seat.occupied {
    background-color: #790000;
    color: #f8f7f7;
    cursor: not-allowed;
    border-color: #450000;
}

/* Celda de Pasillo*/
.aisle {
    width: 20px; 
    background-color: transparent;
    cursor: default;
    border: none;
}