:root {
    --primary-color: #428B65;
    --secondary-color: #384341;
    --dark-bg: #4B988A;
    --shadow: #cccccf;
}

header {
    background: linear-gradient(100deg, var(--primary-color), var(--secondary-color));
    padding: 1rem 0;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px var(--shadow);
}

.titulada {
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0 1.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Uncial Antiqua', cursive;
}

.row {
    background-color: transparent;
}

.silla {
    background-color: transparent;
    border-color: var(--secondary-color);
    border-style: solid;
    vertical-align: middle;
}

.silla:hover:not(.ocupied) {
    background-color: var(--dark-bg);
}

.libre {
    background-color: transparent;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 2em;
    width: 2em;
}

.ocupied {
    background-color: var(--primary-color);
    height: 2em;
    border-radius: 5px;
    width: 2em;
}

.separado{
    margin: 6px;
}


.screen {
    background-color: var(--primary-color);
    height: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px var(--shadow);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

footer {
    background: linear-gradient(100deg, var(--primary-color), var(--secondary-color));
    padding: 2rem 0;
    color: white;
    text-align: center;
    margin-top: 3rem;
    border-top: 2px solid var(--secondary-color);
}