body{
    background:#000000;
    color: #fff;
}

header {
    background: #343a40;
    height: 80px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.container-main{
    background: #333333;
    padding: auto;
}

#main-screen{
    background-color: #fff;
    color: #000000;
    text-align: center;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    background-color: #000000;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.card-block{
    text-align: center;
    padding-top: 10px;
}

.row-number{
    text-align: right;
    width: 70px;
    margin-right: 15px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #e50914;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
}

.seat:hover {
    cursor: pointer;
    background-color: #ff4444;
    transform: scale(1.1);
}

.seat.selected {
    background-color: #00cc00;
}

.form-option {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

input[type="number"] {
    width: 250px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ffb84d;
}

footer{
    text-align: center;
    padding: 20px 0;
    background: #535c66;
}