/* ====== GLOBAL ========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000000;
    line-height: 1.7;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: #000000;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

/*=========== HEADER ===========*/
.cinema {
    text-align: center;
    margin-bottom: 30px;
}

.cinema__name {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #c89411;
    margin-bottom: 10px;
}

.cinema__movie {
    font-size: 1.5rem;
    color: #e4c276;
}

.cinema__schedule,
.cinema__theater {
    font-size: 1.2rem;
    color: #f4f6f8;
    margin-bottom: 0;
}

/*=========== CONTENT ===========*/
.screen__container {
    width: 90%;
    max-width: 800px;
    height: 60px;
    margin: 40px auto;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #605909;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
}

.row__label {
    width: 30px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
    font-size: 1rem;
    color: #ffffff;
}

.seat input {
    display: none;
}

.seat label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #267A2B;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    transition: 0.3s;
}

.seat label:hover:not(.occupied) {
    transform: scale(1.2);
}

.seat input:checked + label {
    background: #2f69ef;
}

.seat input:disabled + label.occupied {
    background-color: #c12d2d;
    color: #ffffff;
    cursor: not-allowed;
}

.reservation{
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
}

.reservation__seats{
    width: 40%;
    height: 60px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    resize: none;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
}

.footer p{
    text-align: center;
    margin: 0 auto;
}