p {
    font-size: 10px;
    text-align: left;
    font-family: sans-serif;
}

p:hover {background-color: #ffc107}

h1 {
    color: #0055aa;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #0055aa;
    text-align: center;
}

h3 {
    font-size: 14px;
    color: #0055aa;
    text-align: left;
}

h4 {
    font-size: 10px;
    font-family: "Bold Italic Art", serif;
    text-align: left;
}

h3 + p {
    background-color: lightgray;
}

h4 ~ p {
    background-color: cornflowerblue;
}

.body {
    background-color: whitesmoke;
}
.body_principal {
    background-color: #8FAAC4;
    text-align: center;
    font-family: sans-serif;
}

.body_secundario {
    text-align: left;
    font-family: sans-serif;
}

.imagen-redonda {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #555;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.marco_div {
    border: 3px solid blue;
    padding: 20px;
    margin: 30px auto;
 }
